@mixin menu {
  position: absolute;
  background: $background;
  box-shadow: --shadow;
  color: white;
  border: 2px solid;
  margin: 0;
  padding: 10px;
  list-style: none;
  z-index: 99;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;

  > a {
    text-decoration: none;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__roundlogo {
    height: 50px;
    padding-right: 10px;
  }

  &__logo {
    display: flex;
    flex: 1;

    .text {
      flex: 0 0 auto;
      max-width: 100%;
      background: $accent;
      color: black;
      padding: 5px 10px;
    }

    &:after {
      content: '';
      background: repeating-linear-gradient(90deg, $accent, $accent 2px, transparent 0, transparent 10px);
      display: block;
      width: 100%;
    }
  }

  .menu {
    margin: 20px 0;
    --shadow-color: $accent-alpha-70;
    --shadow: 0 10px --shadow-color, -10px 10px --shadow-color, 10px 10px --shadow-color;

    &__inner {
      // @include menu;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        // &.active {
        //   color: $accent-alpha-70;
        // }
        &:not(:last-of-type) {
          margin-right: 20px;
          margin-bottom: 10px;
          flex: 0 0 auto;
        }
      }
    }

    &__sub-inner {
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;

      &:not(:only-child) {
        margin-left: 20px;
      }

      &-more {
        @include menu;
        top: 35px;
        left: 0;

        &-trigger {
          color: $accent;
          user-select: none;
          cursor: pointer;
        }

        li {
          margin: 0;
          padding: 5px;
          white-space: nowrap;
        }
      }
    }
      
    &-trigger {
      color: $accent;
      border: 2px solid;
      margin-left: 10px;
      height: 100%;
      padding: 3px 8px;
      position: relative;
    }
  }
}
