.post {
  width: 100%;
  text-align: left;
  margin: 20px auto;
  padding: 20px 0;

  @media (max-width: $tablet-max-width) {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $accent;
  }

  // %meta {
  //   font-size: 1rem;
  //   margin-bottom: 10px;
  //   color: $accent-alpha-70;
  // }

  // &-meta {
  //   @extend %meta;
  // }
  // &-meta-inline {
  //   @extend %meta;

  //   display: inline;
  // }

  &-meta {
    font-size: 1rem;
    margin-bottom: 10px;
    color: $accent-alpha-70;
  }

  &-title {
    $border: 3px dotted $accent;
    position: relative;
    color: $accent;
    margin: 0 0 15px;
    padding-bottom: 15px;
    border-bottom: $border;

    &:after {
      content: '';
      position: absolute;
      bottom: 2px;
      display: block;
      width: 100%;
      border-bottom: $border;
    }
    
    a {
      text-decoration: none;
    }
  }

  // %tags {
  //   margin-bottom: 20px;
  //   font-size: 1rem;
  //   opacity: .5;
  // }

  &-tags {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: .5;

    a {
        text-decoration: none;
    }
  }

  // &-tags-inline {
  //   @extend %tags;

  //   display: inline;

  //   @media (max-width: $phone-max-width) {
  //     display: block;
  //   }
  // }

  &-content {
    margin-top: 30px;
  }

  &-cover {
    border: 20px solid $accent;
    background: transparent;
    margin: 40px 0;
    padding: 20px;

    @media (max-width: $phone-max-width) {
      padding: 10px;
      border-width: 10px;
    }
  }

  ul {
    list-style: none;

    li:before {
      content: '⦿';
      position: absolute;
      left: -20px;
      color: $accent;
    }
    ul {

      li:before {
        content: '■';
        position: absolute;
        left: -20px;
        color: $accent;
      }

      ul {

        li:before {
          content: '►';
          position: absolute;
          left: -20px;
          color: $accent;
        }
      }
    }
  }
}

// TODO: try adapting this using a properly nested selector in the block above
//       for ul items.
.tag-list {
    @media(max-width: $phone-max-width) {
        margin-left: 5%;
    }
}

.post--regulation {
  h1 {
    justify-content: center;
  }

  h2 {
    justify-content: center;
    margin-bottom: 10px;

    &+ h2 {
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }
}

.post-list {
  .post-date {
    color: $accent-alpha-70;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  .post-list-title {
    text-decoration: underline;
  }

  .post-tag {
    text-decoration: underline;
  }
}
