$accent: #1f99e0;
$accent-alpha-20: rgba($accent, 0.2);
$accent-alpha-70: rgba($accent, 0.7);
$background: #1a1a1a;
$color: whitesmoke;
$phone-max-width: 683px;
$tablet-max-width: 899px;

@import 'buttons';
@import 'header';
@import 'main';
@import 'post';
@import 'pagination';
@import 'footer';
