{% macro text() %}
    <div class="footer-text">
        <span>{{ now() | date(format="%Y") }} :: Powered by <a href="https://www.getzola.org/">Zola</a> SSG</span>
        <span>& modified <a href="https://github.com/ejmg/zerm">zerm</a> theme :: <a href="https://gitlab.com/Friz64/blog">blog git</a></span>
    </div>
{% endmacro copyright %}
