
{% macro styling() %}
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
    <meta name="theme-color" content="#1a1a1a">
{% endmacro styling %}

{% macro favicon() %}
    {%- if config.extra.favicon is defined -%}
        <link rel="icon" href="{{ get_url(path=config.extra.favicon) }}" />
    {%- endif -%}    
{% endmacro favicon %}

{% macro rss() %}
    {%- if config.generate_feed -%}
        <link rel="alternate" type="application/rss+xml" title="{{ config.title }} RSS" href="{{ get_url(path="rss.xml") }}">
    {%- endif -%}
{% endmacro rss %}

{% macro general_meta() %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="{{ config.description }}"/>
{% endmacro general_meta %}
