{% macro header() %}
<header class="header">
    <a href="{%- if config.extra.logo_home_link -%}{{ config.extra.logo_home_link }}{%- else -%}{{ config.base_url }}{%- endif -%}">
        <div class="header__inner">
            <img class="header__roundlogo" alt="Friz64 logo: f64" src="{{ get_url(path=config.extra.logo) }}" />

            <div class="header__logo">
                <div class="text">
                    {{config.description}}
                </div>
            </div>
        </div>
    </a>

    {# Check if there are menu items to render, yes if > 0 #}
    {%- set num = config.extra.main_menu | length -%}
    {% if num > 0 -%}
        {{ menu::menu() }}
    {% endif -%}
</header>
{% endmacro header %}

