{% macro menu() %}
    <nav class="menu">
        <ul class="menu__inner">
            {% for menu_item in config.extra.main_menu -%}
                <li>
                    <a href="{{ menu_item.url }}">{{ menu_item.name }}</a>
                </li>
            {% endfor -%}
        </ul>
    </nav>
{% endmacro menu %}

{% macro items(menu) %}
    {%- for menu_item in menu -%}
        {# skipping sub-child check #}
        <li>
            <a href="{{ get_url(path=menu_item.url) }}">{{ menu_item.name }}</a>
        </li>
    {%- endfor-%}
{% endmacro items %}
