<div>
    <a href="https://youtube.com/watch?v={{id}}">
        <figure class="yt-nonembed">
            <img src="https://i3.ytimg.com/vi/{{id}}/maxresdefault.jpg">
            <figcaption>Click to watch on YouTube</figcaption>
        </figure>
    </a>
</div>
