{% import "macros/head.html" as head -%}
{% import "macros/logo.html" as logo -%}
{% import "macros/header.html" as header -%}
{% import "macros/lists.html" as lists -%}
{% import "macros/posts.html" as posts -%}
{% import "macros/social.html" as social -%}
{% import "macros/menu.html" as menu -%}
{% import "macros/pagination.html" as pagination -%}
{% import "macros/footer.html" as footer -%}

<!DOCTYPE html>
<html lang="{{ config.default_language }}">
    <head>
        {%- block title -%}
            <title>{{ config.title }}</title>
        {%- endblock title -%}

        {%- block general_meta -%}
            {{ head::general_meta() }}
        {%- endblock general_meta -%}

        {%- block og_preview -%}
            {{ social::og_preview() }}
        {%- endblock og_preview -%}

        {%- block css -%}
            {{ head::styling() }}
        {%- endblock css -%}

        {%- block favicon -%}
            {{ head::favicon() }}
        {%- endblock favicon -%}

        {%- block rss -%}
            {{ head::rss() }}
        {%- endblock rss -%}
        
    </head>
    <body>
        {#
        "container full" when width == True, regardless of center
        "container center" when only center == True
        "container" when both false.
        #}
        {%- if config.extra.full_width -%}
            {%- set container = "container full" -%}
        {%- elif config.extra.center -%}
            {%- set container = "container center" -%}
        {%- else -%}
            {%- set container = "container" -%}
        {%- endif -%}

        <div class="{{ container }}">
            {%- block header -%}
                {{ header::header() }}
            {%- endblock header -%}
            <div class="content">
                {%-  block main -%}
                    {{ lists::list_pages() }}
                {%- endblock main -%}
            </div>
            {#- 
            I keep pagination out of list, unlike Terminal, because I don't
            like how the pagination buttons move with the width of the content 
            div.
            -#}
            {%- block pagination -%}
                {{ pagination::paginate() }}
            {%- endblock pagination -%}

            {%- block footer -%}
                <footer class="footer">
                    <div class="footer__inner">
                        {%- block footer_text -%}
                            {{ footer::text() }}
                        {%- endblock footer_text -%}
                    </div>
                </footer>
            {%- endblock footer -%}
        </div>
    </body>
</html>
