{% extends "index.html" -%}

{%- block title %}
    <title>{{ page.title }} · {{ config.extra.author }}</title>
    {#%- include "snippets/social.html" %#}
{%- endblock title -%}

{%- block main -%}
    <div class="post">
        <h1 class="post-title">
            <a href="{{ page.permalink  }}">{{ page.title }}</a>
        </h1>
        {{ posts::meta(page=page) }}


        {#- Skipping logic for cover as was in original Terminal theme -#}

        <div class="post-content">
            {{ page.content | safe }}
        </div>
        {# TODO: Decide if any sort of commenting functionality is desired? #}
    {#%- include "snippets/comments.html"  -%#}
</div>
{%- endblock main -%}
